@charset "UTF-8";

:root {
  --main-color: #00bfff;
  --title-color: #007299;
  --text-color: #333;
  --btn-color: #ff8200;
}

/*--------------------------------
 全体
---------------------------------*/

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  background-color: #e5f8ff;
  line-height: 1.6;
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*--------------------------------
 レイアウト
---------------------------------*/

.wrapper {
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.inner {
  max-width: 540px;
  margin: 0 auto;
}

/*--------------------------------
 見出し
---------------------------------*/

.section-title {
  font-size: 4rem;
  color: var(--title-color);
  font-weight: 600;
  margin-bottom: 5px;
}

.section-subtitle {
  font-size: 2rem;
  color: var(--title-color);
  font-weight: 500;
}

.section-text {
  font-size: 1.8rem;
  line-height: 2.2;
  margin-bottom: 1rem;
}

/*--------------------------------
ボタン
---------------------------------*/

.btn-menu {
  display: none;
}

.btn {
  display: inline-block;
  width: 260px;
  text-align: center;
  padding: 1.2rem 0;
  border-radius: 5px;
  background-color: var(--main-color);
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
}

.btn:hover {
  background-color: #00afef;
}

.btn--orange {
  display: inline-block;
  width: 260px;
  text-align: center;
  padding: 1.2rem 0;
  border-radius: 5px;
  background-color: var(--btn-color);
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
}

.btn--orange:hover {
  background-color: #e56f00;
}

.service__btn {
  display: flex;
  justify-content: center;
  margin: 45px 0;
}

/*--------------------------------
ヘッダー
---------------------------------*/

.mv__buttons {
  display: flex;
  gap: 3rem;
}

/*--------------------------------
グローバルナビ
---------------------------------*/
.header__gnav {
  background-color: #fff;
}

.gnav {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gnav__list {
  display: flex;
  gap: 3rem;
  padding: 1.5rem 0;
}

.gnav__link {
  font-size: 1.6rem;
}
.gnav__link:hover {
  color: var(--main-color);
}

.gnav__link--active {
  color: var(--main-color);
}

/*--------------------------------
メインビジュアル
---------------------------------*/

.mv {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-image: url(images/pc_mv.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 45px;
}

.mv__title {
  width: 500px;
}

/*--------------------------------
ごあいさつ
---------------------------------*/
.greet {
  background-color: #fff;
  padding: 5rem;
}

.greet__body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.greet-sp__img {
  display: none;
}

.greet__img {
  width: 450px;
}

.greet__heading {
  margin-bottom: 1rem;
}

.section-subtitle {
  margin-bottom: 1rem;
}

/*--------------------------------
サービス
---------------------------------*/
.service {
  margin-top: 30px;
}

.service__body {
  text-align: center;
}

.service__lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  margin: 45px 0;
}

.service__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px var(--main-color);
  padding: 3.5rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 3px 21px rgba(21, 88, 151, 0.16);
}

.service__card-icon {
  width: 70px;
  margin-bottom: 20px;
}

.service__card-title {
  font-size: 1.5rem;
  padding: 5px 30px;
  border: solid 1px var(--main-color);
  border-radius: 30px;
}

/*--------------------------------
ニュース
---------------------------------*/

.news {
  margin-bottom: 45px;
  background-color: #fff;
  padding: 5rem;
}

.news__heading {
  margin-bottom: 15px;
  text-align: center;
}

.news-list__date {
  display: flex;
  column-gap: 30px;
  margin-bottom: 20px;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 300;
}

.news__icon {
  padding: 5px 10px;
  border: solid 1px var(--main-color);
  border-radius: 30px;
  font-weight: 300;
}

.news-list__title:hover {
  opacity: 0.8;
}

/*--------------------------------
フッター
---------------------------------*/

.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 30px;
  margin-bottom: 30px;
}

.footer__info {
  flex: 1;
}

.footer__map-area {
  flex: 1;
  display: flex;
}

.footer__map {
  flex: 1;
}

.footer__map iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.footer__logo {
  width: 100%;
  width: 500px;
  filter: drop-shadow(5px 5px 5px #aaa);
}

.footer__address {
  font-size: 1.8rem;
  text-align: center;
}

.footer__number {
  font-size: 3rem;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 20px;
}
/*--------------------------------
テーブル
---------------------------------*/
.biz-hour {
  display: block;
  border-collapse: collapse;
}

.biz-hour th,
.biz-hour td {
  padding: 10px 20px;
  text-align: center;
  border-bottom: 1px solid var(--main-color);
}

.biz-hour th {
  font-weight: normal;
}

.biz-hour__day {
  color: #00afef;
}

/* 「土」の文字色 */
.biz-hour th.sat {
  color: #3db2da;
}

/* 「日」の文字色 */
.biz-hour th.sun {
  color: #e66a6a;
}

.footer__btns {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 30px;
}

.footer__copyright {
  font-size: 1.2rem;
  color: #828282;
  text-align: center;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 1.5rem;
  }

  /* 見出し */
  .section-title {
    font-size: 2.5rem;
  }

  .section-subtitle {
    font-size: 1.5rem;
  }

  .section-text {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 1rem;
  }
  /* レイアウト */

  .container {
    padding: 0 20px;
  }

  .section-subtitle {
    font-size: 1.8rem;
  }

  .section-text {
    font-size: 1.4rem;
  }

  /* ヘッダー */

  .gnav {
    display: flex;
    position: fixed;
    top: 0;
    right: -180px;
    z-index: 10;
    width: 200px;
    height: 100%;
    background-color: var(--main-color);
    box-shadow: -10px 0 35px -20px rgb(0 0 0 / 25%);
    transition: right 0.7s ease, opacity 0.7s ease;
    opacity: 0;
  }

  .gnav.open {
    right: 0;
    opacity: 1;
  }

  .gnav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 180px;
    padding: 1px 20px 50px;
    row-gap: 25px;
  }

  .gnav__link {
    color: #fff;
  }

  .gnav__link:hover {
    color: #fff;
  }

  .gnav__link--active {
    opacity: 0.6;
  }

  .btn-menu {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 21px 16px;
    border: none;
    outline: none;
    background: none;
    background-color: var(--main-color);
    cursor: pointer;
    appearance: none;
  }

  .btn-menu__line {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all 0.4s;
    border-radius: 4px;
    background-color: #fff;
  }

  .btn-menu__line::before,
  .btn-menu__line::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: inherit;
    border-radius: 4px;
    background-color: #fff;
  }

  .btn-menu__line::before {
    top: -8px;
  }

  .btn-menu__line::after {
    top: 8px;
  }

  .btn-menu.active .btn-menu__line {
    background-color: transparent;
  }

  .btn-menu.active .btn-menu__line::before,
  .btn-menu.active .btn-menu__line::after {
    top: 0;
    background-color: #fff;
  }

  .btn-menu.active .btn-menu__line::before {
    transform: rotate(45deg);
  }

  .btn-menu.active .btn-menu__line::after {
    transform: rotate(-45deg);
  }

  /* メインビジュアル */
  .mv {
    background-image: url(images/sp_mv.jpg);
    height: 460px;
  }

  .mv img {
    width: 280px;
    display: block;
    margin: 60px auto 0;
  }

  .mv__buttons {
    display: grid;
    gap: 15px;
  }

  .btn,
  .btn--orange {
    width: 200px;
    font-size: 1.3rem;
  }

  /* ごあいさつ */

  .greet {
    padding: 0 3rem;
    text-align: center;
  }

  .greet__body {
    display: grid;
  }

  .greet__img-tab {
    width: 300px;
    margin: 0 auto 2rem;
  }

  .greet-sp__img {
    display: block;
  }

  .greet__img {
    display: none;
  }

  .greet__btn {
    margin-bottom: 2rem;
  }

  /* サービス */

  .service__card {
    padding: 15px;
  }

  .service__lists {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px 0;
  }

  .service__card-title {
    font-size: 1.3rem;
    padding: 2px 10px;
  }

  .service__btn {
    margin-bottom: 30px;
    margin: 20px;
  }

  .service__card-icon {
    width: 35px;
    margin-bottom: 10px;
  }

  /* お知らせ */

  .news {
    margin-bottom: 20px;
    padding: 15px 30px;
  }

  .news-list__date {
    column-gap: 15px;
    margin-bottom: 10px;
    align-items: center;
    font-size: 1.3rem;
  }

  .news__icon {
    font-size: 1rem;
  }

  .news-list__date {
    font-size: 1.3rem;
  }

  /* フッター */

  .footer__body {
    display: grid;
    grid-template-columns: 1fr; /* 1列にする */
    column-gap: 15px;
    justify-items: center;
    text-align: center;
  }

  .footer__logo {
    width: 280px;
    margin: 15px;
  }

  .footer__address {
    font-size: 1.5rem;
  }

  .footer__number {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .footer__schedule {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .biz-hour th,
  .biz-hour td {
    padding: 5px 7px;
  }
  .footer__map {
    width: 100%;
  }

  .footer__btns {
    justify-content: center;
    text-align: center;
    display: flex;
  }
}
